@{
    ViewBag.Title = "About";
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<div class="row">
    <div class="col-md-12">
        <div class="image-about">
            <img src="~/Content/images/about.png" />

        </div>

    </div>
    <div class="col-md-12">
        <h1 class="header-about text-center">Who we are</h1>
    </div>
    <div class="col-md-12">
        <p class="about text-justify">
            Fueled by a fundamental belief that having access to financial services creates opportunity, PNBank
            is committed to democratizing financial services and empowering people and businesses
            to join and thrive in the global economy. Our open digital payments platform gives PNBank’s 218 million
            active account holders the confidence to connect and transact in new and powerful ways, whether they are
            online, on a mobile device, in an app, or in person. Through a combination of technological innovation
            and strategic partnerships, PNBank creates better ways to manage and move money, and offers choice and
            flexibility when sending payments, paying or getting paid. Available in more than 200 markets around the
            world, the PNBank platform enables consumers and merchants to
            receive money in more than 100 currencies, withdraw funds and hold balances in their
            PNBank accounts in 25 currencies.
        </p>
    </div>

</div>
<div class="row member-content">
    <div class="col-sm-3 col-sm-offset-1 member-thumb  fade-right in">
        <img class="img-responsive img-center img-thumbnail img-circle" src="https://bootdey.com/img/Content/User_for_snippets.png" alt="">
        <h4>Plamen Metodiev</h4>
        <p class="title">Lead Software Engineer &amp; Designer</p>
    </div>
    <div class="col-sm-7">
        <div class="details">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <ul class="social-content">
                <li><a href="https://twitter.com/plamen_mt"><i class="fa fa-twitter fa-fw"></i></a></li>
                <li><a href="https://www.facebook.com/pmetodiev7"><i class="fa fa-facebook fa-fw"></i></a></li>
                <li><a href="https://www.linkedin.com/in/plamen-metodiev-776584119/"><i class="fa fa-linkedin fa-fw"></i></a></li>
            </ul>
        </div>
    </div>
</div>

